<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Habitat partagé à contributions en fonction des revenus</title>
  <style>
    body {
      max-width: 700px;
      margin: 0 auto;
      padding: 0 10px;
      background: transparent url(images/background.png) 0 0 repeat;
      font-family: sans-serif;
      line-height: 1.3;
      color: #1e1e1e;
      text-shadow: 0 1px white;
    }
    h1 {
      margin: 30px 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 28px;
    }
    h2 { text-align: center; }
    section { margin-bottom: 60px; }
    ul { padding-left: 15px; }
    footer {
      font-size: 0.9em;
      text-align:center;
      margin-bottom: 30px;
    }
  </style>

	<!-- Vue.js -->
	<script type="text/javascript" src="javascript/vue.js"></script>

  <!-- VueTangle -->
  <script type="text/javascript" src="javascript/VueTangleKit/VueTangleKit.js"></script>
  <link rel="stylesheet" href="javascript/VueTangleKit/TangleKit.css" type="text/css">
</head>

<body>
  <h1>Habitat partagé à contributions en fonction des revenus</h1>

  <section id="communeCalculator">
    <p>Pour les <tk-adjustable-number v-model="membersCount" v-bind:min="2" v-bind:max="26" v-bind:step="1" v-bind:scale="30"> habitant·e·s</tk-adjustable-number>
    d’un habitat partagé dans les <strong>situations suivantes</strong>&nbsp:</p>

    <ul>
      <li v-for="member in members" v-bind:key="member.id">
        <tk-inconspicuous-input v-model="member.name"></tk-inconspicuous-input>, ayant un revenu de
        <tk-adjustable-number v-model="member.income" v-bind:min="0" v-bind:max="6000" v-bind:step="10"> €</tk-adjustable-number>
        par mois,
      </li>
    </ul>

    <p class="variables">
      Si chaque membre de la commune <strong>verse</strong>
      <tk-adjustable-number v-model="sharedIncomePercent" v-bind:min="5" v-bind:max="100"> %</tk-adjustable-number>
      de ses revenus chaque mois,<br>
      et que chaque membre <strong>reçoit</strong>
      <tk-adjustable-number v-model="receivedIncome" v-bind:min="0" v-bind:max="1000" v-bind:step="5"> €</tk-adjustable-number>,
    </p>

    <p class="results">
      Cela rend donc disponible
      <strong>{{commonRevenue}} €</strong>
      pour financer le loyer, les charges, et éventuellement une caisse avec le surplus.
    </p>

    <p>Il reste aux membres pour vivre</strong>, une fois les loyers payés :</p>
    <ul>
      <li v-for="(member, index) in members" v-bind:key="member.id">
        {{member.name}} dispose de {{remainForMember(index)}} € par mois
        (après une contribution de {{rentForMember(index)}} € au loyer),
      </li>
    </ul>
  </section>

  <footer>
    <a href="https://gitlab.com/pmorinerie/coloc-loyers-solidaires">Code source</a>
  </footer>

  <!-- Calculator -->
  <script type="text/javascript">
    class Member {
      constructor(id, name, income) {
        this.id = id;
        this.name = name;
        this.income = income;
      }

      static withSequentialName(index, income) {
        const names = "ABCDEFGHIJKLMNOPQRSTUVWXYZ",
              id = names.charAt(index),
              name = `Habitant·e ${id}`;
        return new Member(id, name, income);
      }
    }

    let app = new Vue({
      el: '#communeCalculator',

      data: {
        members: [
          Member.withSequentialName(0, 400),
          Member.withSequentialName(1, 700),
          Member.withSequentialName(2, 1200),
          Member.withSequentialName(3, 1700)
        ],
        sharedIncomePercent: 30,
        receivedIncome: 100
      },

      updated: function(){
        this.saveParameters();
      },

      computed: {
        membersCount: {
          get: function () {
            return this.members.length;
          },
          set: function (newLength) {
            if (newLength < this.members.length) {
              // remove members
              this.members.splice(newLength);
            } else if (newLength > this.members.length) {
              // add new members
              while (newLength > this.members.length) {
                let defaultIncome = 1219;
                let newMember = Member.withSequentialName(this.members.length, defaultIncome);
                this.members.push(newMember);
              }
            }
          }
        },

        sharedIncomeFactor: function() {
          return this.sharedIncomePercent / 100;
        },

        commonRevenue: function () {
          let sumOfIncomes  = this.members.reduce((sum, member) => sum + member.income, 0),
              collected     = sumOfIncomes * this.sharedIncomeFactor,
              redistributed = this.receivedIncome * this.membersCount,
              commonRevenue = collected - redistributed;
          return Math.round(commonRevenue);
        }
      },

      methods: {
        rentForMember(i) {
          return Math.round(this.members[i].income * this.sharedIncomeFactor - this.receivedIncome);
        },

        remainForMember: function(i) {
          return this.members[i].income - this.rentForMember(i);
        },

        saveParameters() {
          window.location.hash = JSON.stringify(this.$data);
        }
      },
    });

    try {
      let hash = decodeURI(window.location.hash).slice(1);
      let urlParams = JSON.parse(hash);
      Object.assign(app.$data, urlParams);
    } catch (e) {};
  </script>
</body>
</html>
