/*
 *  TangleKit.css
 *  Tangle 0.1.0
 *
 *  Created by Bret Victor on 6/10/11.
 *  (c) 2011 Bret Victor.  MIT open-source license.
 *
 */


/* cursor */

.TKCursorDragHorizontal {
	cursor: pointer;
	cursor: move;
	cursor: col-resize;
}


/* TKToggle */

.TKToggle {
	color: #46f;
	border-bottom: 1px dashed #46f;
	cursor: pointer;
}


/* TKAdjustableNumber */

.TKAdjustableNumber {
	position:relative;
	color: #46f;
	border-bottom: 1px dashed #46f;
	touch-action: pan-x;
}

.TKAdjustableNumberHover {
}

.TKAdjustableNumberDown {
	color: #00c;
	border-bottom: 1px dashed #00c;
}

.TKAdjustableNumberHelp {
	position:absolute;
	color: #00f;
	font: 14px "Helvetica-Neue", "Arial", sans-serif;
}

/* TKInconspicuousInput */

.TKInconspicuousInput {
  position: relative;
  display: inline-block;
  min-width: 1ch;
}
.TKInconspicuousInput .meter {
  position: absolute;
  visibility: hidden;
  white-space: pre;
}
.TKInconspicuousInput input {
  font-family: inherit;
  font-size: inherit;
  /* Compensate for padding and border of the input */
  margin-left: -4px;
  margin-right: -4px;
  /* Prevent text from being clipped on the top when the border is transparent */
  padding-top:  2px;
  margin-top: -1px;
}
.TKInconspicuousInput input:not(:focus):not(:active) {
  color: #46f;
  background: transparent;
  border-color: transparent;
}
